/*basic*/
.bg-main-color {
    background-color: #032F90;
}
/* hero */
.hero.container.bg-main-color {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center bottom;
}

.hero >.short{
 text-align: center;
}
.hero >.short > img {
    width: 30px;
    margin: 20px;
}
 h1{
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: var(--gap);
    margin-top: 20px;
    
}

p {
    color: lightgray;
    font-size: 20px;


}
.clock{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
.form{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
.mouse{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
/* main */
.long.columns{

}

.left{

}

.right{

}
/* footer */