/*basic*/
.bg-main-color {
    background-color: #0045AF;
}
/* hero */
.hero.container.bg-main-color {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center bottom;
}

.hero >.short{
 text-align: center;
}
.hero >.short > img {
    width: 30px;
    margin: 20px;
}
 h1{
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: var(--gap);
    margin-top: 20px;
    
}

.hero >.short > p {
    color: lightgray;
    font-size: 20px;


}
.clock{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
.form{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
.mouse{
    display: inline-block;
    width: 100%;
    Color: white;
    font-size: 30px;
    line-height: 60px;
    margin-bottom: var(--gap);

}
/* main */
.long.columns{
   
}
h2{
    text-transform: uppercase;
    font-size: 20px;
}   
p{
    color: darkgray;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
    
  }
a{
    text-decoration: none;
    color: red;
}

.left{
    display: inline-block;
    width: 100%;
    Color: black;
    margin-top: 20px;
    margin-bottom: 15px;
  }
.progress-bar  {
    line-height: 30px;

}
.right{
    display: inline-block;
    width: 100%;
    Color: black;
    margin-top: 20px;
    margin-bottom: 15px;

}
/* footer */


footer > div { 
    Color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin: 6px;
}
footer > div> img {
    width: 150px;
    margin: 20px;
}
footer p {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    color: #fff9;
    margin-top: 6px;
}
footer p > span > a{
    color: white
}
footer p > a{
    color: white
}
    footer p > span {
        padding: 0 10px;
        position: relative;
    }
    footer p > span + span::before {
        content: '';
        display: inline-block;
        height: 15px;
        width: 1px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: -2px;
        transform: translateY(-50%);
    }

@media (max-width: 640px) {
footer p > span {
    display: inline-block;
    width: 100%;
}
    footer p > span + span::before {
        display: none;
    }
}
